.wrap {
    display: flex;
  }
  
.trip-map {
    flex-basis: 50%;
}
  
.trip-info {
    flex-basis: 50%;
    
    height: 100vh; 
    overflow: auto;
}

.photos img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block;
}


@media (max-width: 768px) {
    .wrap {
        flex-direction: column;
    }

    .trip-map, .trip-info {
        flex-basis: 100%;
    }
}

